:root {
  --black: #000;
  --white: #f5f3f5;
  --light-blue: #274690;
  --dark-blue: #1b264f;
  --light-red: #d62828;
  --yellow: #fcbf49;

  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
:warm {
  --primary: var(--light-red);
  --secondary: var(--yellow);
}
:cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}
body {
}
.title {
  text-align: center;
  font-size: var(--h1);
  border: 10px solid #000;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btn {
  font-size: var(--h5);
  text-align: center;
  padding: 20px;
}
.btn:hover {
  transform: translateY(-2px);
}
.input {
  width: 25%;
  border: 5px solid #000;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.img {
  width: 90%;
  height: 75%;
}
